.ul{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

@media(min-width: 500px){
    .ul{
        width: 305px;
        margin: 0;
        padding: 0;
        flex-direction: row;
    }
}