.HamburgerIcon{
    position: absolute;
    top: 7px;
    right: 5px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.HamburgerIcon:active{
    background-color: tomato;
}

.HamburgerIcon div{
    width: 30px;
    height: 3px;
    margin: 7px auto;
    border-radius: 2px;
    background-color: white;
}

@media(min-width: 709px){
    .HamburgerIcon{
        display: none;
    }
}