.ToggleButton{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    right: 10px;
    z-index: 99;
}

.ToggleButton:active ,.ToggleButton:hover{
    background-color: rgb(218, 236, 189);
}

.ToggleButton div{
    width: 20px;
    height: 3px;
    background-color: #829a80;
    margin: 5px;
    border-radius: 2px;
}

@media(min-width: 500px){
    .ToggleButton{
        display: none;
    }
}