.SideDrawer{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: rgb(176, 173, 173);
    z-index: 101;
    /* border-radius: 0 5px 5px 0; */
    transition: transform 0.3s ease-out;
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}